.rating {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .star {
    cursor: pointer;
    font-size: 100px;
    color: gray;
  }
  
  .star.filled {
    color: gold;
  }
  
  /* 숨김 처리된 input 요소 */
  .rating input {
    display: none;
  }
  
  .rating-review-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .review-form {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .review-textarea {
    width: 90%;
    height: 100px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submit-btn {
    padding: 15px 40px;
    font-size: 20px;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .Toastify__toast {
    font-size: 1.6rem;
    padding: 18px;
  }
